/*HTML5 Reset*/
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{ margin:0; padding:0; border:0; font-size:100%; font-weight:inherit; font-style:inherit; vertical-align:baseline}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}a,ins,del{ text-decoration:none}ul,ol{ list-style:none}table{ border-spacing:0; border-collapse:collapse}caption,th{ text-align:left}q:after,q:before{ content:”“}
/*End of HTML5 Reset*/

/* General Layout & Typography 
-----------------------------------------*/
@font-face {
  font-family: 'DroidSansMono';
  font-weight: normal;
  font-style: normal;
  src: url("DroidSansMono.ttf") format("truetype");
}

html {background: rgba(238, 238, 238, 0.9);}
body {
	font-family: DroidSansMono, Andale Mono, Inconsolata, Courier New, Courier, monospace;
	font-size: 13px;
	line-height: 22px;
	
	margin-left: 0px;
	margin-top: 60px;
}
#single_loop {
    float: right; /*fijal, Po co ci to?*/
}

a:visited {
    color: blue;
}
/* End of General Layout & Typography 
-----------------------------------------*/

#filter {
    margin-left: 15px;
}


/* Floating Side-Menu 
-----------------------------------------*/
#loops  ul li span {
	display: block;
	width: 100%;
	margin-left: 30px;
  padding-left: 5px;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border-bottom: solid 1px rgba(121, 139, 162, 0.3);
}
a:hover {border-top: solid 1px rgba(121, 139, 162, 0.3); margin-top: -1px;}
a:hover {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.10));
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgba(0, 0, 0, 0.07)),color-stop(1, rgba(0, 0, 0, 0.10)));
	color: rgba(0, 0, 0, 1);
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
	
	border-left: solid 1px rgba(121, 139, 162, 0.3);
	border-right: solid 1px rgba(121, 139, 162, 0.3);
	padding-left: 4px;
	
	-moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
}

#main {
	display: block;
    float: left;
    width: 800px;
    margin-left: 30px;
}
header {
	display: block;
	width: 360px;
	
	position: fixed;
	top: 30px;
	left: 920px;
	
	padding: 5px;
    border: 1px solid #cacaca;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		-moz-box-shadow: 0px 0px 7px #cacaca;
		-webkit-box-shadow: 0px 0px 7px #cacaca;
		box-shadow: 0px 0px 7px #cacaca;
}



header,
.operations {
	background: rgba(251, 252, 246, 0.9);
}
/* #loops span { */
/* 	display: block; */
/* 	font-family: "Lucida Sans Unicode", Sans, sans-serif; */
/* 	font-weight: bold; */
/* 	font-size: 15px; */
/* 	padding-left: 5px; */
/* 	text-shadow: rgba(255, 255, 255, 0.3); */
/* 	margin-bottom: 5px; */
	

/* } */
/* End of Floating Side-Menu  
-----------------------------------------*/


/* Formatting 
-----------------------------------------*/
.source {
    white-space: pre;
    font-size: 15px;
}

.hidden {
    color: #aaa;
}

.visible {
    color: #099;
}

.operations {
    display: block;
    border: 1px solid #cacaca;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		-moz-box-shadow: 0px 0px 7px #cacaca;
		-webkit-box-shadow: 0px 0px 7px #cacaca;
		box-shadow: 0px 0px 7px #cacaca;
    margin-left: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.single-operation {
    white-space: pre;
    margin-left: 3em;
}

.asm {
    white-space: pre;
    margin-left: 4em;
    color: #666;
}

.inlined_call {
    font-size: 12px;
    font-weight: bold;
}

.dmp {
    margin-left: 1em;
    white-space: pre;
}

.nonempty {
    font-weight: bold;
}

.empty {
    color: black;
}


.guard {
    color: red;
}
.call {
    font-size: 12px;
    font-weight: bold;
}
span.dmp,
span.guard,
span.call,
span.single-operation,
.inlined_call {
	display: inline-block;
}


.variable_highlight {
    background-color: #BFF;
}

.namespace {
    color: black;
}

.classname {
    color: #A00;
}

.fieldname {
    color: #00A;
}

.selected {
    background-color: #ddd;
    -moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0px 0px 7px #cacaca;
		-webkit-box-shadow: 0px 0px 7px #cacaca;
		box-shadow: 0px 0px 7px #cacaca;
}

#title {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #164464;
    color: #FFF;
    display: none;
}

.bridgelink {
    font-weight: bold;
}

/* End of Formatting 
-----------------------------------------*/












